<ion-content [fullscreen]="true">
  <section class="list-message">
    <ion-list class="mr-5 ml-5 pt-5" #listMessages>
      <app-message-bubble
        *ngFor="let message of messages"
        [message]="message"
      ></app-message-bubble>
    </ion-list>
  </section>

  <section class="send-message">
    <ion-grid>
      <ion-row class="middle">
        <ion-col size="9">
          <ion-item class="text-message">
            <ion-textarea inputmode="text" #messageToSend></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-button
            color="dark"
            (click)="sendMessage(messageToSend.value)"
            [disabled]="messageToSend.value && messageToSend.value.length < 2"
            ><ion-icon name="send"></ion-icon
          ></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
