.list-message {
  position: relative;
  height: 90%;
  max-height: 90%;
}

ion-list {
  max-height: 100%;
  overflow-y: scroll;
}

.send-message {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 10%;
  background-color: gray;
  display: flex;
  align-items: center;
}

.ml-5 {
  margin-left: 5%;
}

.mr-5 {
  margin-right: 5%;
}

.mt-5 {
  margin-top: 5%;
}

.pt-5 {
  padding-top: 5%;
}

.text-message {
  border-radius: 10px;
}

.middle {
  text-align: center;
  align-items: center;
}
