<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style="height: 100%">
    <ion-row class="middle" style="height: 100%">
      <ion-col size="8" offset="2">
        <form>
          <!-- (ngSubmit)="login()" [formGroup]="userToLogin" -->
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <!-- <ion-input formControlName="email"></ion-input> -->
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              {{ "password" | translate}}
            </ion-label>
            <!-- <ion-input type="password" formControlName="password"></ion-input> -->
          </ion-item>
          <ion-button expand="block" type="submit">
            <!-- [disabled]="!userToLogin.valid" -->
            {{ "login!" | translate}}
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
